name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Build Docker image
        run: |
          docker build -t iris-api .

      - name: Run tests
        run: |
          docker run iris-api pytest tests/

      # Installer le Render CLI avec une version spécifique
      - name: Install Render CLI
        run: |
          curl -fsSL https://github.com/renderinc/render-cli/releases/download/v0.3.9/render-linux-amd64 -o /usr/local/bin/render
          chmod +x /usr/local/bin/render

      # Déployer avec Render CLI
      - name: Deploy to Render
        run: |
          render deploy iris-api
